<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="fortunaUserApp"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Menentukan flutter tool untuk entry point dari aplikasi -->
            <meta-data
              android:name="flutterEmbedding"
              android:value="2" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
            <!-- !!! PENTING: Konfigurasi Deep Link untuk Supabase !!! -->
            <!-- Baris di bawah ini memberitahu Android untuk membuka aplikasi saat ada URL dengan skema ini -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.fortunaUserApp" android:host="login-callback" />
            </intent-filter>
            
        </activity>
        <!-- Tambahkan metadata untuk memastikan integrasi yang benar dengan Flutter -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3419835251"/>
    </application>
</manifest>
